@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

.css-battle-canvas {
  width: 400px;
  height: 300px;
  border: 1px solid white;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
}
