body {
  padding: 3rem;
}

ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #667eea;
}

li a {
  padding: 0.5rem 1rem;
  display: inline-block;
  width: 100%;
  transition: all 150ms linear;
  border-radius: 50px;
}

li a:hover {
  background: #667eea;
  color: white;
  transform: translateX(-0.5rem);
}
